:root {
  --d: 200px;
  --starfield-size: 350px;
  --planet-spacing: calc((var(--starfield-size) - var(--d)) / 2);
}

.planet {
  position: absolute;
  top: var(--planet-spacing);
  right: var(--planet-spacing);
  width: var(--d);
  height: var(--d);
  display: inline-block;
  /* margin: 5px; */
  border-radius: 50%;
  /* , 0 0 50px 2px rgba(0, 0, 0, 0.8) */
  box-shadow: -30px -30px 40px 2px rgba(0, 0, 0, 0.8) inset;
  /* background: url(../images/skin/00.webp) 0 / auto 100%; */

  animation: spin 30s linear infinite;
}
.planet-highlight {
  position: absolute;
  top: var(--planet-spacing);
  right: var(--planet-spacing);
  height: var(--d);
  width: var(--d);
  background-color: rgba(255, 255, 0, 0);
  /* , 0 0 50px 2px rgba(255, 255, 255, 0.2) */
  box-shadow: 30px 30px 40px 2px rgba(255, 255, 255, 0.2) inset;
  border-radius: 50%;
}
.starfield {
  height: 350px;
  width: 350px;
  position: relative;
  /* background: url(../images/skin/starfield-1.jpg); */
}
@keyframes spin {
  to {
    background-position: 200% 0;
  }
}
.half-block {
  width: 50%;
}
.two-column {
  display: flex;
  justify-content: space-between;
}
